**.swp
tensorflow_/results/saved_batch/
pytorch/results
data_storage/
files/*
results/*
tensorflow/results/*
**/.ipynb_checkpoints/*
notebooks/files/*
**/__pycache__/
julia/
**/*.index*
**/*.data*
tensorflow/saved_models/*
pytorch/videocache.pth
pytorch/videocache64.pth
homeless_notebooks/*
bak_tensorflow/*
